<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>event-details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <div class="img-padding">
      <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
      <ion-card-header>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        <ion-card-title>Card Title</ion-card-title>
      </ion-card-header>
    </div>
    <hr>
    <ion-card-content>
      <div class="info">
        <div class="circulo-bilhete topo-esquerda"></div>
        <div class="circulo-bilhete topo-direita"></div>
        <div class="circulo-bilhete base-esquerda"></div>
        <div class="circulo-bilhete base-direita"></div>
        <div>
          <p class="">Location</p>
          <p class="texto-inferior">Paris, France</p>
        </div>
        <div class="name-seat">
          <div>
            <p class="">Name</p>
            <p class="texto-inferior">Jonh Doe</p>
          </div>
          <div>
            <p class="">Seat</p>
            <p class="texto-inferior">No Seat</p>
          </div>
        </div>
        <div class="date-time">
          <div>
            <p class="">Date</p>
            <p class="texto-inferior">30 December</p>
          </div>
          <div>
            <p class="">Time</p>
            <p class="texto-inferior">8:00 PM</p>
          </div>
        </div>
      </div>
      <hr>
      <div>
        <div class="barcode-image">
          <img src="https://barcode.tec-it.com/barcode.ashx?data=ABC-abc-1234&code=Code128&translate-esc=on" alt="">
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
